.player{
   display:flex;
   border-bottom: 1px solid lightgray;
   margin: 20px;
   padding:5px;
}
.player-image{
    width: 30%;
    margin-left: 80px;
}
.player-image img{
   width: 100px;
   height: auto;
   border-radius: 50%;
}
.Button{
    background-color:aquamarine ;
    width: 80px;
    height: 25px;
    font-size: 15px;
    cursor: pointer;
}